# Virtual environment
.venv/

# Downloaded videos and projects
VIRALS/

# Temp files
tmp/
*.temp.*
temp_subtitle_config.json

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Models cache
.cache/
models/

# Fonts cache
C:/vcfonts/

# Logs
*.log
app_run.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
